# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data (opsional besar; uncomment jika ingin exclude dataset mentah)
# data/*.csv
